{% extends 'hotel/main.html' %}
{% load static %}
{% block content %}
{% include 'hotel/navbar.html' %}
<div>
    <span><strong>username:</strong>{{user.username}}</span><br>
    <span><strong>email:</strong>{{user.email}}</span>
    <h2>Bookings</h2>
    
    {% for booking in bookings %}
    <br>
    <br>
    <p>{{booking.rooms_allocated.name}}:   {{booking.checkin_date}}  to  {{booking.checkout_date}}  <button><a href="{% url 'cancel' id=booking.id %}">Cancel</a></button></p>
    {% endfor %}
</div>

{% endblock %}